.prizeList ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.arrowRight:hover, .arrowDown:hover {
  cursor: pointer;
}

.arrowRight::before {
  content: url(arrow-right.svg);
  margin-right: 0.5em;
}

.arrowDown::before {
  content: url(arrow-down.svg);
  margin-right: 0.5em;
}