.prizeList ul {
  list-style-type: none;
  padding-left: 1em;
}

.hidden {
  display: none;
}

.arrowRight:hover, .arrowDown:hover {
  cursor: pointer;
}

.arrowRight {
  list-style-image: url(arrow-right.svg);
}

.arrowDown {
  list-style-image: url(arrow-down.svg);
}